/* Styles for desktop */

@media (min-width: 768px) {
  .navbarContainer {
    top: 0%;
    z-index: 50;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    max-height: 90px;
    user-select: none;
    align-items: center;
    background-color: white;
    justify-content: space-between;
  }

  .navbarSection {
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    font-weight: 200;
    line-height: 19px;
    margin-right: 55px;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbarSection:hover {
    border-bottom: 1px solid #6788ff;
  }

  .navbarSearch input {
    width: 283px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    padding-left: 25px;
    text-transform: uppercase;
    border-radius: 4px;
    background: rgba(232, 232, 232, 0.55);
  }

  .navbar input::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.2);
  }

  .navbar input:focus::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: rgba(55, 55, 55, 0.1);
  }

  .navbarSearch {
    margin-left: 25px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 121px;
  }

  .navbarLogo {
    cursor: pointer;
    margin-left: 119px;
    margin-bottom: 3px;
    margin-right: 100px;
  }

  .search {
    top: 16px;
    right: 14px;
    cursor: pointer;
    position: absolute;
  }

  .dividerInput {
    top: 8px;
    right: 49px;
    height: 34px;
    position: absolute;
    border: 0.5px solid rgba(55, 55, 55, 0.28);
  }

  .menu {
    display: none;
  }

  .arrow {
    display: none;
  }
}

/* Styles for mobile */

@media (max-width: 768px) {
  .navbarContainer {
    width: 100%;
    z-index: 50;
    height: 60px;
    position: static;
    background-color: white;
  }

  .navbarSections {
    display: flex;
    position: absolute;
    margin-top: 60px;
    width: 100%;
    z-index: 60;
    flex-direction: column;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.61);
    outline: none;
  }

  .navbarSection {
    height: 60px;
    border: none;
    display: flex;
    color: white;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #6788ff;
    justify-content: space-between;
    outline: none;
  }

  .navbarSection:active {
    background-color: rgb(144, 168, 255);
    outline: none;
  }

  .navbarSearch input {
    display: none;
  }

  .navbarSearchMobile input {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    padding-left: 55px;
    text-transform: uppercase;
    border-radius: 4px;
    background: rgba(232, 232, 232, 0.55);
  }

  .navbar input::placeholder {
    display: none;
  }

  .navbarSearchMobile {
    position: relative;
    text-transform: uppercase;
  }

  .navbarLogo {
    top: 16px;
    left: 20px;
    width: 100px;
    position: absolute;
  }
  .search {
    display: none;
  }
  .searchActive {
    top: 20px;
    right: 20px;
    cursor: pointer;
    position: absolute;
  }

  .searchMobile {
    top: 20px;
    right: 60px;
    cursor: pointer;
    position: absolute;
  }

  .arrow {
    height: 12px;
  }

  .menu {
    top: 21px;
    right: 16px;
    height: 18px;
    position: absolute;
  }

  .close {
    top: 21px;
    right: 21px;
    height: 19px;
    position: absolute;
  }
  .dividerInput{
    display: none
  }
  .dividerInputMobile {
    top: 13px;
    right: 55px;
    height: 34px;
    position: absolute;
    border: 0.5px solid rgba(55, 55, 55, 0.28);
  }
  .prev {
    position: absolute;
    top:25px;
    left: 20px;
    
  }
}
